<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>227873133130-qq1pia9hb1uviarq96hudtc0v9f6e0p1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.227873133130-qq1pia9hb1uviarq96hudtc0v9f6e0p1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>227873133130-g35ebke8cdgri1jus8mguurv4u1o085f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCmUzUgRLg-7zBCTDJw5d4dhmb59utx8HI</string>
	<key>GCM_SENDER_ID</key>
	<string>227873133130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tyger.todo</string>
	<key>PROJECT_ID</key>
	<string>flutter-todo-9a4ec</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-todo-9a4ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227873133130:ios:f6ec8c41557597be2f8cb3</string>
</dict>
</plist>